<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fertilizer Recommendation System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="header">
        SUSTAINABLE FERTILIZER USAGE OPTIMIZER FOR HIGHER YIELD
    </div>
    <div class="container" id="welcome-section">
        <h1>Welcome to the Fertilizer Recommendation System</h1>
        <button class="button" onclick="startApp()">Welcome!!</button>
    </div>
    
    <div class="options-container" id="options">
        <h1>What are you here for?</h1>
        <div class="buttons">
    <button class="recommender" onclick="window.location.href='{{ url_for('index') }}';">Fertilizer Recommender</button>
    <button class="details" onclick="window.location.href='{{ url_for('details') }}';">Fertilizer Details</button>
</div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
